.app-container {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 10px;
}

.navbar button {
    color: white;
}

.shop-container, .cart-container, .billing-container {
    padding: 20px;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    border: 1px solid #ddd;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.product-card img {
    max-width: 100%;
    height: auto;
    display: flex;
    margin: 0 auto;
    
}


.cart-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
}

.billing-container form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.billing-container label {
    display: block;
    margin-bottom: 5px;
}

.billing-container input {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}
